<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-list__item">
      <a [routerLink]="['/']" class="navbar__button">
        {{ title }}
      </a>
    </li>
    <li class="navbar-list__item">
      <a [routerLink]="['/home']"
         routerLinkActive="navbar__button-active"
         [routerLinkActiveOptions]="{exact: true}"
         class="navbar__button">
        Home
      </a>
    </li>
    <li class="navbar-list__item">
      <a [routerLink]="['/favorite']" routerLinkActive="navbar__button-active" class="navbar__button">
        Favorite
      </a>
    </li>
  </ul>
  <app-search class="navbar__search"></app-search>
</nav>

