<div class="movie-card">
  <a class="movie-card__link"
     [routerLink]="['/movie', movie.id]"
  >
    <img
      class="movie-card__image"
      [src]="movie.image"
      [alt]="movie.title"
    >
  </a>
  <div class="movie-card__description">
    <a class="movie-card__link"
       [routerLink]="['/movie', movie.id]"
    >
      <h4 class="movie-card__title">{{ movie.title }}</h4>
    </a>
      <p class="movie-card__info">
        Popularity: {{ movie.popularity }}
        <br>
        Vote Count: {{ movie.voteCount }}
      </p>
  </div>
  <hr>
  <div class="movie-card__extra">
    <span class="movie-card__release-date">{{movie.releaseDate | date}}</span>
    <span class="movie-card__rating">
        <h3 class="movie-card__rating-title">
          <fa-icon class="movie-card__icon"
            [icon]="faStar"></fa-icon>
          {{ movie.rating}}
        </h3>
      </span>
  </div>

</div>


