@import "colors";

.movie__description {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.movie__info {
  padding: 0 30px;
}

.movie__icon {
  font-size: 1.25rem;
  color: $text-color;
}

.movie__icon:hover {
  color: lighten($primary-color, 20%);
}

.movie__genres-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.movie__genre {
  display: inline-block;
  padding: 10px;
  background: $primary-color;
  color: $text-color;
}

.movie__tagline {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.movie__common-header {
  margin: 10px 0;
}

.movie__common-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.common-info__item {
  font-weight: bold;
}

.common-info__item-value {
  font-weight: normal;
  font-style: italic;
}

.card-container {
  display: flex;
  column-gap: 10px;
  overflow-y: hidden;
  padding: 10px;
}

@media all and (max-width: 883px) {
  .movie__description {
    flex-wrap: wrap;
  }

  .detail-image {
    width: 100%;
    height: auto;
  }

  .movie__info {
    width: 100%;
  }
}


