<ng-container [ngSwitch]="(detailStatus$ | async)">
  <ng-container *ngSwitchCase="0">
    <h1>Loading... Please Wait</h1>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <div class="movie__description">
      <img class="detail-image"
        [src]="(detailValue$ | async).posterPath"
        [alt]="(detailValue$ | async).title"
      >
      <div class="movie__info">
        <h1 class="movie__title">
          {{(detailValue$ | async).title}}
          ({{(detailValue$ | async).releaseDate | date: 'yyyy'}})
          <a [href]="(detailValue$ | async).homepage">
            <fa-icon
              class="movie__icon"
              [icon]="faLink">
            </fa-icon>
          </a>
        </h1>
        <div class="movie__genres-list">
        <span class="movie__genre"
              *ngFor="let genre of (detailValue$ | async).genres"
        >{{genre.name}}
      </span>
        </div>
        <h3 class="movie__tagline"
            *ngIf="(detailValue$ | async).tagline"
        >
          {{(detailValue$ | async).tagline}}
        </h3>
        <h3 class="movie__overview">
          Overview:
        </h3>
        <p class="movie__overview">
          {{(detailValue$ | async).overview}}
        </p>
        <h3 class="movie__common-header">Common information:</h3>
        <ul class="movie__common-info">
          <li class="common-info__item">Original Title:
            <span class="common-info__item-value">
          {{(detailValue$ | async).originalTitle}}
        </span>
          </li>
          <li class="common-info__item">Original Language:
            <span class="common-info__item-value">
          {{(detailValue$ | async).originalLanguage | uppercase}}
        </span>
          </li>
          <li class="common-info__item">Status:
            <span class="common-info__item-value">
          {{(detailValue$ | async).status}}
        </span>
          </li>
          <li class="common-info__item">Release Date:
            <span class="common-info__item-value">
          {{(detailValue$ | async).releaseDate | date}}
        </span>
          </li>
          <li class="common-info__item">Budget:
            <span
              class="common-info__item-value"
              *ngIf="(detailValue$ | async).budget !== 0; else unknown"
            >
          {{(detailValue$ | async).budget | currency}}
        </span>
          </li>
          <li class="common-info__item">Revenue:
            <span
              class="common-info__item-value"
              *ngIf="(detailValue$ | async).budget !== 0; else unknown"
            >
          {{(detailValue$ | async).revenue | currency}}
        </span>
          </li>
          <li class="common-info__item">Duration:
            <span class="common-info__item-value">
          {{(detailValue$ | async).runtime}} min
        </span>
          </li>
          <li class="common-info__item">Popularity:
            <span class="common-info__item-value">
          {{(detailValue$ | async).popularity}}
        </span>
          </li>
          <li class="common-info__item">Vote Count:
            <span class="common-info__item-value">
          {{(detailValue$ | async).voteCount}}
        </span>
          </li>
          <li class="common-info__item">Vote Average:
            <span class="common-info__item-value">
          {{(detailValue$ | async).voteAverage}}
        </span>
          </li>

        </ul>
      </div>
    </div>

    <ng-container [ngSwitch]="(similarMoviesStatus$ | async)">
      <ng-container *ngSwitchCase="0">
        <h2>Loading... Please Wait</h2>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <ng-container *ngIf="(similarMoviesValue$ | async).results.length > 0">
          <h2>Similar movies:</h2>
          <div class="card-container">
            <app-movie-card *ngFor="let movie of (similarMoviesValue$ | async).results"
                            [movie]=movie>
            </app-movie-card>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <h2>Error!</h2>
        <p>
          {{(detailError$ | async).status}}
          {{(detailError$ | async).message}}
        </p>
      </ng-container>
    </ng-container>

    <ng-container [ngSwitch]="(recommendedMoviesStatus$ | async)">
      <ng-container *ngSwitchCase="0">
        <h2>Loading... Please Wait</h2>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <ng-container *ngIf="(recommendedMoviesValue$ | async).results.length > 0">
          <h2>Recommended list:</h2>
          <div class="card-container">
            <app-movie-card *ngFor="let movie of (recommendedMoviesValue$ | async).results"
                            [movie]=movie>
            </app-movie-card>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <h2>Error!</h2>
        <p>
          {{(detailError$ | async).status}}
          {{(detailError$ | async).message}}
        </p>
      </ng-container>
    </ng-container>

    <ng-template #unknown>
      —
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <h1>Error!</h1>
    <p>
      {{(detailError$ | async).status}}
      {{(detailError$ | async).message}}
    </p>
  </ng-container>
</ng-container>






