@import "src/styling/colors";

.search__field {
  width: 78%;
  height: auto;
  padding: 10px;
  border: 1px solid lighten($primary-color, 20%);
  border-radius: 5px;
}

.search__button {
  width: 20%;
  padding: 10px;
  margin-left: 5px;
  color: $secondary-background-color;
  background: $text-color;
  border: none;
  border-radius: 5px;
}

.search__button:disabled {
  background: #999caa;
}
