<ng-container [ngSwitch]="(status$ | async)">
  <ng-container *ngSwitchCase="0">
    <h1 class="header">Loading... Please Wait</h1>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <h1 class="header">{{(value$ | async).totalResults}} results for "{{this.query}}":</h1>
    <div class="card-container">
      <app-movie-card *ngFor="let movie of (value$ | async).results"
                      [movie]=movie>
      </app-movie-card>
    </div>
    <div class="navigation" *ngIf="(value$ | async).totalResults !== 0">
      <button
        class="navigation__button"
        [disabled]="page == 1"
        (click)="goToPage(-1)"
        [routerLink]="['/search', query]"
        [queryParams]="{page: [this.page - 1]}"
      >
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
      <span class="navigation__page-counter">
    {{page}}/{{(value$ | async).totalPages}}
  </span>
      <button
        class="navigation__button"
        [disabled]="page == (value$ | async).totalPages"
        (click)="goToPage(1)"
        [routerLink]="['/search', query]"
        [queryParams]="{page: [this.page + 1]}"
      >
        <fa-icon
          [icon]="faChevronRight"
        ></fa-icon>
      </button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <h1 class="header">Error!</h1>
    <p>
      {{(error$ | async).status}}
      {{(error$ | async).message}}
    </p>
  </ng-container>
</ng-container>
