@import "colors";
.card-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.header {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.navigation__button {
  height: 50px;
  width: 30%;
  background: $primary-color;
  color: $text-color;
  border: none;
  transition: .2s ease;
}

.navigation__button:hover {
  background: $text-color;
  color: $background-color;
}

.navigation__button:disabled {
  background: #999caa;
  color: $text-color;
}

.navigation__page-counter {
  display: inline-block;
  align-self: center;
}
